



/* body------------------------------ */

body{
  margin: 0;
  padding: 0;
  background-color: rgb(235, 235, 235);
}



/* menu -------------------------------------- */

#scrollValue{
position: fixed;
z-index: 150;
}


#item1{
width: 100%;

}


#item1 h1{
position: absolute;
font-size: 150px;
color: rgb(240, 240, 240);
top: 450px;
bottom: 0;
left: 0;
right: 0;
text-align: center;
z-index: 60;
opacity: 0;
}

#item1 .top_img{
width: 100%;
}



#item2{
margin: 0;
width: 100%;
z-index: 50;
}




.drink_menu{
margin: 50px 0 50px 100px;  
}
.drink_menu h1{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.cafe_menu_img{
display: flex;
flex-wrap: wrap;
width:90%;
margin-left: 100px;
}

.cafe_menu_img .cafe_menu_list_1{
margin-left: 100px;
margin-bottom: 50px;
}
.cafe_menu_img .cafe_menu_list_2{
  margin-left: 60px;
  margin-bottom: 50px;
}


.cafe_menu_list_1:hover,.cafe_menu_list_2:hover{
cursor: pointer;
opacity: 0.8;
}




.cafe_menu_text{
  display: flex;
  flex-wrap: wrap;
  /* width:90%; */
  margin-top: 100px;
  margin-left: 80px;
}

.cafe_menu_text .cafe_menu_list_3{
  /* background-color: rgba(101, 160, 119, 0.774); */
  margin-left: 80px;
  border-top: solid 2px rgb(133, 133, 133);
  width: 680px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 22px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


.cafe_menu_text .cafe_menu_list_money{
  border-top: solid 2px rgb(133, 133, 133);
  width: 80px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 22px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}



/* ---------------------------------------------  */

#item2 .follow{
margin: 250px 0 0 100px;
width: 90%;
border-bottom: solid 1px black;
}

#item2 .follow .follow_name{
font-size: 25px;
margin: 0 0 10px 0;
}

.follow_fa{
margin: 15px 0 0 100px;
}

.follow_fa i{
margin-right: 5px;
}

.follow_fa .fa-facebook-official:hover,.follow_fa .fa-tumblr-square:hover,
.follow_fa .fa-instagram:hover,.follow_fa .fa-wifi:hover{
opacity: 0.7;
cursor: pointer;
}

/* page_top -------------------------------------*/

.line_top{
margin-top: 150px;
text-align: right;
}

.line_top .pagetop{
display: inline;
font-size: 30px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin-right: 50px;
padding: 40px 30px 0 30px;
border-radius: 350px 350px 0 0;
background-color: #90e0ff6c;
}
.pagetop a{
text-decoration: none;
color: rgb(255, 255, 255);
}

.pagetop a:hover{
color: rgb(0, 0, 0);
}


/* pagetop 追尾用 */
#page_top{
position: fixed;
bottom: 0;
right: 0;
width: 170px;
height: 200px;
z-index: 400;
opacity: 0;
transition: 0.7s;
color: black;
}



/* -------------------------------------------- */

/* footer --------------------------------------*/
#pagefoot{
width: 100%;
height: 100px;
background-color: #90e0ff6c;
text-align: center;
}
#copyright{
font-size: 20px;
margin: 0;
}



.modal{
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal__bg{
  background: rgba(0,0,0,0.6);
  height: 100vh;
  position: absolute;
  width: 100%;
}

.modal__content{
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 55%;
  height: 70%;
  z-index: 300;
}


/* -------------------------------------------------- */

.menu_img{
  list-style-type: none;
  top: 550px;
  padding: 0;
  margin-left: 50px;
  position: absolute;
  display: flex;
}

.menu_img li a img{
  margin-left: 30px;
}

.menu_img li a{
  /* display: inline-block; */
  width: 100px;
  text-align: center;
  padding: 8px 0;
  color:#333;
  text-decoration: none;
  border-radius: 4px 4px 0 0;
}

.menu_img li a.active{
  /* background: #333; */
  color: #fff;
}

.menu_img li a:not(.active):hover{
  opacity: 0.5;
  transition: 0.4s;
}

.content_1.active{
  display: flex;
}

.content_1{
  display: none;
}
.modal__content h1{
  text-align: center;
}

.modal__content img{
  max-width: 50%;
  margin-top: 50px;
  margin-left: 300px;
}


.content_1 p{
  margin-left: 50px;
}
.content_1 img{
  margin-left: 50px;
}

.tab_list{
  display: flex;
}

.tab_menu .js-modal-close{
  position: absolute;
  top: 50px;
  left: 1000px;
  color: black;
}

.tab_menu p{
  margin-left: 50px;

}



/* ---------------------------------------- */


/* メニューバーの設定 -----------------*/

@media all and (max-width: 1924px) {
  .main{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    z-index: 100;
    border-top: solid 1px black; 
  }
  
  
  .logo{
    margin: 30px 0 0 10px;
    width: 700px;
    height: 80px;
    float: left;
  }
  
  .menu_list {
    background-color: rgba(255, 255, 255, 0.6);
    height: 130px;
  }
  
  .menu_list ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 130px;
  
  }
  
  .menu_list ul li{
    font-size: 30px;
    margin-top: 50px;
  
  }
  
  /* メニューバーの文字の位置 */
  .menu_list ul .home,.menu_list ul .news,.menu_list ul .about,
  .menu_list ul .access_title{
    flex-basis: 30%;
  }
  .menu_list ul .cafe_menu{
    
    flex-basis: 45%;
  }
  
  
  .menu_list ul li a{
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    color: rgb(0, 0, 0);
  }
  .menu_list ul li a:hover{
    color: rgb(18, 102, 5);
  }
  
  .menu_list ul .cafe_menu a{
    color: rgb(18, 102, 5);
  }
  
  
  
  .menu_tag,.menu_text{
    display: none;
  }
  


}