


  /* ハンバーガーメニュー設定 ----------------------*/


  .menu_tag{
    text-align: right;
    margin-right: 60px;
  }

  /* ハンバーガーアイコンの設定 */
  #show{
    display: inline;
    position: fixed;
    top: 20px;
    cursor: pointer;
  }
  
  
  
  /* メニューを閉じるアイコン 開く前なので非表示している*/
  #hide{
    display: none;
  }


  /* メニューの中身 ---------------------------*/

  .menu_text{
    display: block;
    z-index: 100;
    position: fixed;
    top: 0px;
    right: -300px;
    color: #fff;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    max-width: 300px;
    height: 100%;
    transition: 0.6s;
    padding-bottom: 15px;
  }

  .menu_text ul{
    list-style-type: none;
    padding: 80px 0 0 0;
   
  }

  .menu_text ul .home{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    border-top: solid 1px rgb(187, 187, 187);
  }


  .menu_text ul li a{
    padding-right: 600px;
    padding-bottom: 31px;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    color: rgb(0, 0, 0);
    border-bottom: solid 1px rgb(187, 187, 187);
  }


  .menu_text ul .other{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
  }


  .menu_text ul li a:hover{
    color: rgb(255, 98, 77);
  }

  /* ---------------------------------------------- */


  /* メニューを開いた時の挙動 script.js 参照--------- */
  .menu-open #hide{
    display: inline;
    position: fixed;
    top: 20px;
    cursor: pointer;
    z-index: 110;
  }
  .menu-open #show{
    display: none;
  }
  .menu-open .menu_text{
  right: 0;  /* 通常のメニューバー分下に設定している */ 
  }

  /* ----------------------------------------------- */
